	.aa{
	/*	margin-bottom: 8%;
		margin-top: 4%;*/
		/*margin: 5%;*/
		/*margin-left: 6%;
		margin-right: 6%;*/

	}
	.aaa{
		width: 17%;
		/*text-align: center;*/
		/*display: block;*/
		  margin-left: auto;
		  margin-right: auto;
	}
	#gg{
		/*background-color: #fff;*/
		/*box-shadow: 2px 2px 3px #ccc;*/
		font-size: 2vmin;
	}

	.bb{
		/* background-image: url("./image/3.png");
		 background-size:cover; 
         background-attachment: fixed;
       	position:fixed;
         height: 800px;*/
         /*height: 400px;*/

         background-color: rgba(46,139,87,1);
	}
	#ggg{
		background-color: #666;
	}
	.gggg{
		background-color: #fff;
		height: 0%;
	}
	.Input{
		/*padding-left: 20%;
		padding-right: 20%;*/
		margin-bottom:5%;
	}
	.ccc{
		background-color: #666;
	border-top: 1px solid #ccc;
	/*padding-top: 20px;*/
	/*text-align: center;*/
	color: #eee;
	}
	#footer {
	background-color: #666;
	border-top: 1px solid #ccc;
	padding: 0px;
	text-align: center;
	color: #eee;
}
	body{
		font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
		/*font-size: 40px;*/
		/* background-image: url("./image/3.jpg");
            background-size:cover; 
            background-attachment: fixed;
            position:fixed;*/
             /*background-attachment: fixed;*/
             /*position:fixed;*/
             /*background-color:#666;*/
	}
	